
* {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  text-align: center;
  display: flex;

  color: rgb(90, 86, 86);
}

body {
   background:linear-gradient(to right ,#e2c7e3, #F6DDFF,rgb(190, 216, 226));
}

body main {
  border: 2px solid black;
  display: inline-block;
  padding: 30px;
  filter: drop-shadow(5px 5px 10px rgba(147, 140, 140, 0.3));
  box-shadow: 20px;
}

.footer {
  
  bottom: 0%;
   
  text-decoration: none;
  height: 40%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
 
}
footer a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
