
    body {
      font-family: sans-serif;
      text-align: center;
      background:rgb(230, 196, 230)
      
      
    }
    h1 {
      margin-top: 100px;
      color: #2E7D32;
    }
    p {
      font-size: 18px;
      color: #555;
    }
    a {
    
      
      padding: 10px 20px;
      background-color: rgb(67, 104, 67);
      color: white;
      text-decoration: none;
      border-radius: 6px;
      
    }
    a:hover {
      background-color: #1B5E20;
      
    }
  
